extends base.pug

block head
    link(rel="stylesheet" href="stylesheets/result.css")

block content 
    img(src="img/resultPage.jpg" id="banner2")
    h1 Check Your Result! 
    h2 Information of Your Counterpart 
    div(class="back")
    div(class="heart")

    div(id="text2")
        ul 
            li MBTI : #{result.OwnMBTI}
            br
            li 카톡 아이디 : #{result.kakaoID}
            br
            li 성별 : #{result.Gender}
            br
            li 선호 지역 : #{result.Field}
            br
            li 인스타 아이디 : #{result.instagramID}
            br
            li 전공: #{result.Major}
