mixin groupInfo(info)
    div
        h4=info.code
        ul 
            li 학번: #{info.STnumber}
            li 이름: #{info.Name}
            li 만날 지역: #{info.Field}
            li 성별: #{info.Gender}
            li 인스타그램 아이디: #{info.instagramID}
            li 카카오톡 아이디: #{info.kakaoID}
            li 전공: #{info.Major}
            li 멤버 수: #{info.currentMember}
            li 두 번째 학생 학번: #{info.secondStudent_STnumber}
            li 두 번째 학생 이름: #{info.secondStudent_Name}
            li 두 번째 학생 인스타그램 아이디: #{info.secondStudent_instagramID}
            li 두 번째 학생 카카오톡 아이디: #{info.secondStudent_kakaoID}
            li 세 번째 학생 학번: #{info.thirdStudent_STnumber}
            li 세 번째 학생 이름: #{info.thirdStudent_Name}
            li 세 번째 학생 인스타그램 아이디: #{info.thirdStudent_instagramID}
            li 세 번째 학생 카카오톡 아이디: #{info.thirdStudent_kakaoID}
            li 네 번째 학생 학번: #{info.forthStudent_STnumber}
            li 네 번째 학생 이름: #{info.forthStudent_Name}
            li 네 번째 학생 인스타그램 아이디: #{info.forthStudent_instagramID}
            li 네 번째 학생 카카오톡 아이디: #{info.forthStudent_kakaoID}
            li 매칭 여부: #{info.isMatched}
            li 매칭된 그룹의 코드: #{info.matchedPartyCode}
